<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/public/css/sekil.css">

    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">
    
  
</head>


<body>
    <p>Bu html in iskeleti EJS Şablon</p>



<div class="container">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         

    <%- body%>


</div>
<script type= "application/javascript" src="/public/js/jsquery-3.4.1.min.js"></script>
<script type= "application/javascript" src="/public/js/bootstrap.js"></script>

</body>
</html>

