<!DOCTYPE html>
<html>
    

<body>



<h1 class="buyuk"><%= mesaj %></h1>
<ul class="buyuk">
    <% for(var i=0; i<kisi.length;i++){%>
        <li><%=kisi[i]%></li>
<%}%>

</ul>

<a href="/log">LOGIN</a>

</body>
</html>