<!DOCTYPE html>
<html>
    

<body>

<p>BAYBARS ONAL</p>
<p>My first paragraph.</p>

<h1><%= mesaj %></h1>
<ul>
    <% for(var i=0; i<kisi.length;i++){%>
        <li><%=kisi[i]%></li>
<%}%>

</ul>

<a href="http://www.google.com">LOGIN</a>

</body>
</html>